/* Main stylesheet */

/* CSS syntax follows BEM convention (http://getbem.com/)*/



/*-------CSS Reset-------*/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
===============================================
Border Setting
===============================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

/*============================================*/


body {
    font-family:"open-sans", sans-serif, Arial;
    font-weight: 300;
    text-align: center;
    line-height: 23px;
    font-size: 17px;
    color: #4c4c4c;
}

a {
    text-decoration: none;
    color: #4c4c4c; 
}

a:hover {
    color: #fff;
}

a:active {
    font-weight: 500;
}

/*-----Form input-----*/
::-webkit-input-placeholder {
   color: #4C4C4C;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4C4C4C;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4C4C4C;  
}

:-ms-input-placeholder {  
   color: #4C4C4C;  
}

/* Change autofill background colour ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #A9A9A9 inset;
    -webkit-text-fill-color: #fff;
}


/*-----Footer------*/
.footer {
    display: block;
    background-color: #D3D3D3;
    height: 50px;
}

.footer__text {
    line-height: 50px; 
}

.footer__text--bold {
    font-weight: 700;
}

/*-----Form-----*/
.form {
    display: block;
    margin: 10px;
    margin-bottom: 150px;
}

.form__input {
    display: block;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #A9A9A9;
    border-style: none;
    z-index: -2;
    color: #ffffff;
}

.form__textarea {
    height: 200px;
    resize: none;
}

.form__button {
    background-color: #4C4C4C;
    border-style: none;
    width: 150px;
    height: 50px;
    font-size: 22px;
    color: #ffffff;
    
}

.form__confirmation {
    display: block;
    position: fixed;
    top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    left: 0;
    right: 0;
    background-color: aqua;
    padding: 30px;
    font-size: 30px;
    color: #4c4c4c;
    display: none;

}


@media only screen and (max-width: 480px) {
    
    /*------Header------*/
    .header {
        padding-top: 20px;
    }
    
    .header__logo {
        display: inline-block;
        margin: 0 auto;
        width: 50%; 
    }
    
    .header__toggle {
        position: absolute;
        width: 6%;
        right: 20px;
        margin-top: 6px;
        cursor: pointer;
    }
    
    .header__nav {
        padding-top: 20px;
    }
    
    .header__nav ul {
        overflow: hidden;
        background: #505050;
        height: 0;
        color: #D3D3D3;
        text-transform: uppercase;
        font-weight: 300;
    }
    
    .header__nav ul.open {
        height: auto;
    }
    
    .header__nav-li {
        padding: 5px 0;
    }
    
    .header__nav-li a {
        color: #D3D3D3;
        font-size: 20px;
        line-height: 40px;
    }
    
    
    /*------Banner------*/
    .banner {
        width: 100%;
        height: 100vh; 
        background-color: #EFEFEF;
    }
    
    .banner__tagline {
        display: none;
    }
    
    .banner__tagline--mobile {
        display: block;
        position: absolute;
        top: 30%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        clear: both;
        font-size: 5vh;
        line-height: 7.5vh;
        font-weight: 500;    
      
    }
    
    .banner__tagline--mobile.open {
        z-index: -1;
    }
    
    .banner__arrow {
        display: block;
        position: absolute;
        top: 75%;
        left: 44.166%;
        width: 52px;
        height: 26px;
    }

    /*-----Section-----*/
    .section__heading {
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .section__subheading {
        font-size: 22px;
        margin: 20px 0;
    }

    .section {
        margin: 60px 10% 40px 10%;
    }

    .section--services {
        overflow: auto;
        margin: 40px 0 40px 0;
        padding: 0 2.1% 0 2.1%;
    }

    .section__service {
        width: 100%;
        min-height: 300px;
        padding: 10px 4.2% 60px 4.2%;
    }

    .section__service-icon {
        display: block;
        height: 65px;
        margin: 0 auto;
    }

    /*-----Portfolio-----*/
    .section--portfolio {
        overflow: hidden;
    }

    .section__portfolio-item {
        float: left;
        width: 50%;
        height: auto;
    }

    .section__portfolio-item img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    /*-------Form--------*/
    .form__input {
        width: 90%;
        font-size: 18px;
    }
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    /*------Header------*/
    .header {
        padding-top: 20px;
    }
    
    .header__logo {
        display: inline-block;
        margin: 0 auto;
    }
    
    .header__toggle {
        position: absolute;
        width: 6%;
        right: 20px;
        margin-top: 2px;
        cursor: pointer;
    }
    
    .header__nav {
        padding-top: 20px;
    }
    
    .header__nav ul {
        overflow: hidden;
        background: #505050;
        height: 0;
        color: #D3D3D3;
        text-transform: uppercase;
        font-weight: 300;
    }
    
    .header__nav ul.open {
        height: auto;
    }
    
    .header__nav-li {
        padding: 5px 0;
    }
    
    .header__nav-li a {
        color: #D3D3D3;
        font-size: 20px;
        line-height: 40px;
    }
    
    
    
    

    
    /*-----Banner-----*/
    .banner {
        width: 100%;
        height: 100vh; 
        background-color: #EFEFEF;
    }
    
    .banner__tagline {
            display: block;
            position: absolute;
            top: 40%;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            clear: both;
            font-size: 40px;
            font-weight: 500; 
    }
    
    .banner__tagline.open {
        z-index: -1;
    }
    
    .banner__tagline--mobile {
        display: none;
        position: absolute;
        top: 30%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        clear: both;
        font-size: 40px;
        line-height: 65px;
        font-weight: 500;    
    }
    
    .banner__tagline--mobile.open {
        z-index: -1;
    }
    
    .banner__arrow {
        display: block;
        position: absolute;
        top: 75%;
        left: 44.166%;
        width: 52px;
        height: 26px;
    }

    /*-----Section-----*/
    .section__heading {
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .section__subheading {
        font-size: 22px;
        margin: 20px 0;
    }

    .section {
        margin: 60px 10% 40px 10%;
    }

    .section--services {
        overflow: auto;
        margin: 40px 0 40px 0;
        padding: 0 2.1% 0 2.1%;
    }

    .section__service {
        width: 100%;
        min-height: 300px;
        padding: 10px 4.2% 60px 4.2%;
    }

    .section__service-icon {
        display: block;
        height: 65px;
        margin: 0 auto;
    }

    
    /*-----Portfolio-----*/
    .section--portfolio {
        overflow: hidden;
    }

    .section__portfolio-item {
        float: left;
        width: 50%;
        height: auto;
    }

    .section__portfolio-item img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    
    /*-------Form--------*/
    .form__input {
        width: 90%;
        font-size: 18px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /*-----Header-----*/
    .header__logo {
        display: block;
        padding: 40px 0 40px 45px;
        margin: 0 auto;
    }

    .header__nav {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0 auto;
    }
    
    .header__nav ul {
        overflow: auto;
    }

    .header__nav li {
        display: inline;
        padding-left: 22px;
    }

    .header__toggle {
        display: none;
    }


    /*-----Banner-----*/
    .banner {
        width: 100%;
        height: 100vh; 
        background-color: #EFEFEF;
    }

    .banner__tagline {
        display: block;
        position: absolute;
        top: 45%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        clear: both;
        font-size: 50px;
        font-weight: 500;    
    }

    .banner__tagline--mobile {
        display: none;
    }

    .banner__arrow {
        display: block;
        position: absolute;
        top: 90%;
        left: 49%;
        width: 52px;
        height: 26px;
        margin-top: -26px;
        margin-left: -13px;
    }


    /*-----Section-----*/
    .section__heading {
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .section__subheading {
        font-size: 22px;
        margin: 20px 0;
    }

    .section {
        margin: 60px 10% 40px 10%;
    }

    .section--services {
        overflow: auto;
        margin: 40px 0 40px 0;
        padding: 0 2.1% 0 2.1%;
    }

    .section__service {
        width: 100%;
        min-height: 300px;
        padding: 10px 4.2% 60px 4.2%;
    }

    .section__service-icon {
        display: block;
        height: 65px;
        margin: 0 auto;
    }

    
    /*-----Portfolio-----*/
    .section--portfolio {
        overflow: hidden;
    }

    .section__portfolio-item {
        float: left;
        width: 25%;
        height: auto;
    }

    .section__portfolio-item img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    
    /*-------Form--------*/
    .form__input {
        width: 70%;
        font-size: 18px;
    }
    
    .form__button {
        margin-left: 15%;
        float: left;
    }
}




@media only screen and (min-width: 1024px) {


/*-----Header-----*/

.header__logo {
    display: block;
    padding: 75px 0 20px 45px;
    float: left;
}

.header__nav {
    font-size: 16px;
    text-transform: uppercase;
    float: right;
    margin: 94px 75px 20px 0;
}

.header__nav li {
    display: inline;
    padding-left: 22px;
}
    
.header__toggle {
    display: none;

}


/*-----Banner-----*/

.banner {
    width: 100%;
    height: 100vh; 
    background-color: #EFEFEF;
}

.banner__tagline {
    display: block;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    clear: both;
    font-size: 70px;
    font-weight: 500;    
}
    
.banner__tagline--mobile {
    display: none;
}

.banner__arrow {
    display: block;
    position: absolute;
    top: 90%;
    left: 49%;
    width: 52px;
    height: 26px;
    margin-top: -26px;
    margin-left: -13px;
}


/*-----Section-----*/

.section__heading {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px;
}

.section__subheading {
    font-size: 22px;
    margin: 20px 0;
}

.section {
    margin: 80px 20% 40px 20%;
}

.section--services {
    overflow: auto;
    margin: 40px 0 40px 0;
    padding: 0 2.1% 0 2.1%;
}

.section__service {
    width: 33.3333333333%;
    min-height: 300px;
    float: left;
    padding: 10px 4.2% 10px 4.2%;
}

.section__service-icon {
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}


/*-----Portfolio-----*/

.section--portfolio {
    overflow: hidden;
}

.section__portfolio-item {
    float: left;
    width: 25%;
    height: auto;
}

.section__portfolio-item img {
    display: block;
    width: 100%;
    height: auto;
}

    /*-------Form--------*/
    
    .form__input {
        width: 50%;
        font-size: 25px;

    }

    .form__button {
        margin-left: 25%;
        float: left;
    }    
        

    
} */